@import "../../scss/ubi-vars";

:host {

  &[color="accent"] ::ng-deep {
    mat-expansion-panel.mat-expansion-panel {
      position: relative;
      z-index: 1;
      background-color: map-get($ubi-colors, accent-light);
      //border: 1px solid map-get($ubi-colors, accent); //Can't use border on host because it prevents it to fully disappear
    }
  }

  ::ng-deep {
    mat-expansion-panel.mat-expansion-panel {
      .mat-expansion-panel-content {
        .mat-expansion-panel-body {
          padding-top: 24px;
          padding-left: $ubi-pad * 2;
          padding-right: $ubi-pad * 2;
        }
      }

      .ubi-accordion-no-header .mat-expansion-panel-body {
        padding-top: $ubi-pad * 2;
      }
    }

  }
}
