/*:host {
  display: none;
  &.show {
    display: block;
  }
}*/

.ubi-global-spinner {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 9999;
  > mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px; //Half the width of the spinner here
  }
}