<button (click)="accordionOpened = !accordionOpened">
    ACCORDION TOGGLE OPEN
</button>
<p>EXPANDED = {{accordionOpened ? "true" : "false"}}</p>
<button (click)="accordionDisabled = !accordionDisabled">
    ACCORDION TOGGLE DISABLED
</button>
<p>DISABLED = {{accordionDisabled ? "true" : "false"}}</p>
<xmat-accordion [(expanded)]="accordionOpened"
                [disabled]="accordionDisabled"
                color="primary">
    <div class="xmat-accordion-title">
        ACCORDION TITLE
    </div>
    <div class="xmat-accordion-content">
        <div style="width: 50%; margin: 0 auto; padding: 16px; background: #e2e2e2">
            <h2>MY ACCORDION CONTENT</h2>
        </div>
    </div>
</xmat-accordion>
<xmat-divider></xmat-divider>
<h2>Accordion with no header</h2>
<p>This is useful to make hidden panes you can make appear programmatically</p>
<button (click)="accordionBOpened = !accordionBOpened">
    ACCORDION TOGGLE OPEN
</button>
<p>EXPANDED = {{accordionBOpened ? "true" : "false"}}</p>
<xmat-accordion color="accent"
                [(expanded)]="accordionBOpened">
    <div class="xmat-accordion-content">
        <div style="width: 50%; margin: 0 auto; padding: 16px; background: #e2e2e2">
            <h2>MY SECRET CONTENT</h2>
        </div>
    </div>
</xmat-accordion>

