@import "../../scss/ubi-vars";

/**
* THESE RULES SHOULD BE IN ubi-mat-time-input.component.scss
*      :host-context(.mat-groupCtrl-field-type-ubi-mat-time-input.mat-groupCtrl-field-can-float) :host(.ubi-mat-time-input){
*          border: 1px solid blue;
*      }
*
*      :host-context(.mat-groupCtrl-field-type-ubi-mat-time-input.mat-groupCtrl-field-should-float) :host(.ubi-mat-time-input){
*          border: 1px solid green;
*      }
*
**** SINCE THIS RULES DON'T WORK => COPY THE FOLLOWING RULES IN styles.scss
* .mat-groupCtrl-field-type-ubi-mat-time-input {
*     &[floatlabel="never"],
*     &.mat-groupCtrl-field-can-float {
*         .ubi-mat-time-input + span > label {
*             opacity: 0;
*         }
*     }
*     &.mat-groupCtrl-field-should-float {
*         .ubi-mat-time-input + span > label {
*             opacity: 1;
*         }
*     }
* }
*
* ==> SEE THIS FOR UPDATES ==> https://github.com/webcomponents/webcomponentsjs/issues/146
*/

$error-color: map-get($ubi-colors, red);

div.ubi-mat-time {
  div {
    display: flex;
  }

  input {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: center;
  }

  span.ubi-mat-time-colon,
  span.ubi-mat-time-required {
    cursor: default;
  }

  &.ubi-mat-time-invalid {
    span.ubi-mat-time-colon,
    span.ubi-mat-time-required {
      color: $error-color;
    }
    //Firefox fix opacity
    ::placeholder {
      opacity: 1;
    }
    //Microsoft Edge
    ::-ms-input-placeholder {
      color: $error-color
    }
    // Microsoft IE 10-11
    :-ms-input-placeholder {
      color: $error-color
    }
    //Chrome, Firefox, Opera, Safari 10.1+
    ::placeholder {
      color: $error-color
    }
  }

}
