 <div [ngClass]="dynamicClassList" class="xmat-time-input-wrap" [formGroup]="parts">
	<input class="hours"
		   formControlName="hours"
		   (focus)="setTouched()"
		   (keypress)="typingValidation($event, true)"
		   (change)="inputChange($event)"
		   (blur)="inputChange($event)"
		   [placeholder]="placeholderH"
		   maxlength="2"
		   size="2">
	<span class="xmat-time-colon">&#58;</span>
	<input class="minutes"
		   formControlName="minutes"
		   (focus)="setTouched()"
		   (keypress)="typingValidation($event)"
		   (change)="inputChange($event)"
		   (blur)="inputChange($event)"
		   [placeholder]="placeholderM"
		   maxlength="2"
		   size="2">
	<span class="xmat-time-required"
		  *ngIf="required">*</span>
</div>