@import "../../scss/xmat-vars";

$chip-contrast-map: (
        primary: mat-color($xmat-primary, 50),
        accent: mat-color($xmat-primary),
        warn: mat-color($xmat-primary)
);

mat-chip-list.mat-chip-list-small mat-chip {
  &.mat-chip {
    font-size: 8px;
    padding: 2px 5px;
    @each $mat-key, $mat-color in $chip-contrast-map {
      &.mat-#{$mat-key} {
        background-color: map-get($xmat-colors, $mat-key);
        border: 2px solid transparent;
      }
      &.mat-#{$mat-key}.mat-chip-selected {
        border: 2px solid $mat-color;
      }
    }
  }
}