<h1>Utils</h1>
<p>This page contains a set of useful components you may want to use in several points of your app.</p>
<p>These represent a fast way to obtain commonly used layouts, such as tables, summaries and others.</p>
<p>There also are some extra utils, like xmat-media-query-state, useful to debug your application with
    @angular/flex-layout (optional, required only if you want to use such component)</p>
<xmat-divider></xmat-divider>
<h2>Xmat Media Query State</h2>
<xmat-media-query-state></xmat-media-query-state>
<xmat-divider></xmat-divider>
<h2>Xmat Summary (responsive)</h2>
<p>This summary will have 2 columns on xl screen, and 1 on smaller</p>
<xmat-summary [config]="summary"></xmat-summary>

