<h2 class="xmat-margin-bottom-0">{{title}}</h2>
<xmat-divider class="xmat-margin-bottom-1x"></xmat-divider>
<div fxLayout fxLayoutGap="16px">
    <button color="warn" mat-button mat-raised-button (click)="showAlert(alertTypes.error)">
        ERROR
    </button>
    <button class="xmat-bg-orange" mat-button mat-raised-button (click)="showAlert(alertTypes.warning)">
        WARNING
    </button>
    <button color="primary" mat-button mat-raised-button (click)="showAlert(alertTypes.info)">
        INFO
    </button>
    <button color="accent" mat-button mat-raised-button (click)="showAlert(alertTypes.question)">
        QUESTION
    </button>
    <button class="xmat-bg-green xmat-color-white" mat-button mat-raised-button (click)="showAlert(alertTypes.success)">
        SUCCESS
    </button>
</div>
<xmat-divider class="xmat-margin-top-1x xmat-margin-bottom-1x"></xmat-divider>
<p>You can change this text from the dialog</p>
<p>{{twoWayText || "empty"}}</p>
<button mat-button mat-raised-button (click)="showDialog()">
    Open dialog
</button>

<xmat-dialog-content #myDialogContent>
    <input title="Custom text bind to dialog"
           type="text"
           [(ngModel)]="twoWayText" />
    <p>My static content</p>
</xmat-dialog-content>

