<mat-sidenav-container fullscreen>
    <mat-sidenav class="xmat-sidenav" #sidenav mode="push">
        <h2>FEATURES</h2>
        <xmat-menu (click)="sidenav.toggle()"></xmat-menu>
    </mat-sidenav>
    <mat-sidenav-content class="xmat-main">
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h1>ngx-mat-lib {{appVersion}}</h1>
        </mat-toolbar>
        <div class="xmat-router-outlet-wrap">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
