<h1>CUSTOM LIB TEST</h1>
<xmat-test></xmat-test>
<h2>DIALOG TEMPLATE REF</h2>
<p>REF TEXT: {{twoWayText || "empty"}}</p>
<button (click)="showDialog()">
    SHOW DIALOG
</button>

<xmat-dialog-content #myDialogContent>
    <input type="text" [(ngModel)]="twoWayText" />
    <p>My static content</p>
</xmat-dialog-content>
<hr />
<h2>FRONTEND DOWNLOAD</h2>
<select [(ngModel)]="selectedFile">
    <option *ngFor="let file of files" [ngValue]="file">{{file.fileName}}</option>
</select>
<button [disabled]="!selectedFile" (click)="doDownload(selectedFile)">DOWNLOAD!!</button>

<hr />
<span xmatActionText (click)="loadBlob(selectedFile)">
    LOAD BLOB IN IFRAME
</span>
<iframe class="xmat-pdf-iframe"
        *ngIf="!!downloadResource"
        [src]="downloadResource"></iframe>
<hr />
<h2>TIME INPUT</h2>
<mat-form-field class="autoWidth">
    <xmat-time-input name="ubiTimeInputTest"
                     placeholder="hh:mm"
                     [(ngModel)]="testTimeModel"
                     [disabled]="isUbiTimeInputDisabled"
                     [required]="isUbiTimeInputRequired"></xmat-time-input>
</mat-form-field>

<hr />
<div style="height: 100px; background: #e2e2e2">
    <button (click)="actionDisabled = !actionDisabled">
        ACTION TOGGLE DISABLED
    </button>
    <p>DISABLED = {{actionDisabled ? "true":"false"}}</p>
    <span xmatActionText color="primary"
          [disabled]="actionDisabled"
          (click)="showSnackBar($event)">SHOW SNACKBAR</span>
</div>
<hr />
<button (click)="accordionOpened = !accordionOpened">
    ACCORDION TOGGLE OPEN
</button>
<p>EXPANDED = {{accordionOpened ? "true":"false"}}</p>
<button (click)="accordionDisabled = !accordionDisabled">
    ACCORDION TOGGLE DISABLED
</button>
<p>DISABLED = {{accordionDisabled ? "true":"false"}}</p>
<xmat-accordion [expanded]="accordionOpened"
                [disabled]="accordionDisabled"
                color="primary">
    <div class="xmat-accordion-title">
        ACCORDION TITLE
    </div>
    <div class="xmat-accordion-content">
        <div style="width: 50%; margin: 0 auto; padding: 16px; background: #e2e2e2">
            <h2>MY ACCORDION CONTENT</h2>
        </div>
    </div>
</xmat-accordion>

<!--<h2>DATEPICKER</h2>-->

<!--<mat-form-field>-->
<!--<input matInput [matDatepicker]="rhMinPicker"-->
<!--#rhMinDate="ngModel"-->
<!--[(ngModel)]="dpModel"-->
<!--[min]="minDate"-->
<!--[max]="maxDate"-->
<!--name="rh_filter_date"-->
<!--required-->
<!--placeholder="Data richiesta da">-->
<!--<mat-datepicker-toggle matSuffix [for]="rhMinPicker"></mat-datepicker-toggle>-->
<!--<mat-datepicker #rhMinPicker></mat-datepicker>-->
<!--<mat-error *ngIf="rhMinDate.hasError('required')">-->
<!--Campo obbligatorio-->
<!--</mat-error>-->
<!--<mat-error *ngIf="rhMinDate.hasError('matDatepickerParse')">-->
<!--Il formato della data non è corretto-->
<!--</mat-error>-->
<!--<mat-error *ngIf="rhMinDate.hasError('matDatepickerMin')">-->
<!--La minima data consentita è {{minDate | date:'dd/MM/yyyy'}}-->
<!--</mat-error>-->
<!--<mat-error *ngIf="rhMinDate.hasError('matDatepickerMax')">-->
<!--La massima data consentita è {{maxDate | date:'dd/MM/yyyy'}}-->
<!--</mat-error>-->
<!--</mat-form-field>-->

<hr />
<xmat-legend-item-content #myTest1>
    XMAT LEGEND CONTENT 1
    <button (click)="alertPippo()">PIPPO</button>
</xmat-legend-item-content>
<xmat-legend-item-content #myTest2>
    <strong>XMAT LC2</strong>
</xmat-legend-item-content>


<xmat-legend [items]="myTestList" layout="grid">
</xmat-legend>
