// Import all the tools needed to customize the theme and extract parts of it
@import "../../scss/ubi-vars";
// Define a mixin that accepts a theme and outputs the color styles for the component.

div.ubi-menu {
  box-shadow: 0 5px 10px 0 #e2e2e2;
  margin-bottom: 20px;
  padding: $ubi-pad * 2;
}

button.mat-button.active {
  border-bottom: 2px solid map-get($ubi-colors, primary);
}

