<h2>TIME INPUT</h2>
<mat-form-field class="autoWidth">
    <xmat-time-input name="ubiTimeInputTest"
                     placeholder="hh:mm"
                     [(ngModel)]="testTimeModel"
                     [disabled]="isUbiTimeInputDisabled"
                     [required]="isUbiTimeInputRequired"></xmat-time-input>
</mat-form-field>
<hr/>
<div style="height: 100px; background: #e2e2e2">
    <span xmatActionText color="primary" (click)="showSnackBar()">MIO TEST</span>
</div>
<hr/>
<button (click)="accordionOpened = !accordionOpened">ACCORDION TOGGLE</button> EXPANDED = {{accordionOpened ? "true":"false"}}
<xmat-accordion [expanded]="accordionOpened" color="primary">
    <div class="xmat-accordion-content" >
        <div style="width: 50%; margin: 0 auto; padding: 16px; background: #e2e2e2">
            <h2>MY ACCORDION CONTENT</h2>
        </div>
    </div>
</xmat-accordion>

<h2>DATEPICKER</h2>

<mat-form-field>
    <input matInput [matDatepicker]="rhMinPicker"
           #rhMinDate="ngModel"
           [(ngModel)]="dpModel"
           [min]="minDate"
           [max]="maxDate"
           name="rh_filter_date"
           required="true"
           placeholder="Data richiesta da">
    <mat-datepicker-toggle matSuffix [for]="rhMinPicker"></mat-datepicker-toggle>
    <mat-datepicker #rhMinPicker></mat-datepicker>
    <mat-error *ngIf="rhMinDate.hasError('required')">
        Campo obbligatorio
    </mat-error>
    <mat-error *ngIf="rhMinDate.hasError('matDatepickerParse')">
        Il formato della data non è corretto
    </mat-error>
    <mat-error *ngIf="rhMinDate.hasError('matDatepickerMin')">
        La minima data consentita è {{minDate | date:'dd/MM/yyyy'}}
    </mat-error>
    <mat-error *ngIf="rhMinDate.hasError('matDatepickerMax')">
        La massima data consentita è {{maxDate | date:'dd/MM/yyyy'}}
    </mat-error>
</mat-form-field>