.mat-simple-snackbar {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  opacity: 1
}

.mat-simple-snackbar-action {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  background: 0 0;
  flex-shrink: 0;
  margin-left: 48px
}

[dir=rtl] .mat-simple-snackbar-action {
  margin-right: 48px;
  margin-left: 0
}