@import '../../../../../node_modules/@angular/material/_theming';

//Define custom color behaviour. Changed props are commented
$ubi-toid-blue: (
        50: #122a3f,
        100: #c5cae9, //progress-bar background is from here (why is that?!?!?!?)
        200: #1d4567,
        300: #22527b,
        400: #285f8f,
        500: #2d6da3,
        600: #3b87c8,
        700: #4f93ce,
        800: #63a0d4,
        900: #77acd9,
        A100: #3b87c8,
        A200: #337ab7,
        A400: #2d6da3,
        A700: #8bb8df,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $dark-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $dark-primary-text,
                A400: $dark-primary-text,
                A700: $dark-primary-text,
        )
);

$ubi-toid-blue-accent: (
        50 : #fbfdff,
        100 : #f4faff,
        200 : #edf7ff,
        300 : #e5f3ff,
        400 : #e0f1ff,
        500 : #daeeff,
        600 : #d6ecff,
        700 : #d0e9ff,
        800 : #cbe7ff,
        900 : #c2e2ff,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text,
        contrast: (
                50 : $dark-primary-text,
                100 : $dark-primary-text,
                200 : $dark-primary-text,
                300 : $dark-primary-text,
                400 : $dark-primary-text,
                500 : $dark-primary-text,
                600 : $dark-primary-text,
                700 : $dark-primary-text,
                800 : $dark-primary-text,
                900 : $dark-primary-text,
                A100 : $dark-primary-text,
                A200 : $dark-primary-text,
                A400 : $dark-primary-text,
                A700 : $dark-primary-text,
        )
);

$ubi-toid-blue-accent-light: (
        50 : #fdfeff,
        100 : #fbfdfe,
        200 : #f9fcfe,
        300 : #f6fbfd,
        400 : #f4fafc,
        500 : #f2f9fc,
        600 : #f0f8fc,
        700 : #eef7fb,
        800 : #ecf6fb,
        900 : #e8f5fa,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
        contrast: (
                50 : $light-primary-text,
                100 : $light-primary-text,
                200 : $light-primary-text,
                300 : $light-primary-text,
                400 : $light-primary-text,
                500 : $light-primary-text,
                600 : $light-primary-text,
                700 : $light-primary-text,
                800 : $light-primary-text,
                900 : $light-primary-text,
                A100 : $light-primary-text,
                A200 : $light-primary-text,
                A400 : $light-primary-text,
                A700 : $light-primary-text,
        )
);