@import "ubi-vars";

//MIXINS
@mixin ubi-states-classes($prefix: "", $suffix: "") {
  @each $state in $states {
    #{$prefix}#{$state}#{$suffix} {
      background-color: map-get($ubi-states, #{$state}-soft);
      //border: 2px solid map-get($ubi-states, #{$state}-hard);
    }
  }

  #{$prefix}toDelete#{$suffix} > div:first-child {
    text-decoration: line-through;
  }
}

@mixin ubi-transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin ubi-transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin ubi-transform-origin($origin) {
  -moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin ubi-box-shadow($xOffset: 0, $yOffset: 0, $blur: 0, $spread: 0, $color: #444, $type:"") {
  -webkit-box-shadow: $xOffset $yOffset $blur $spread $color #{$type};
  -moz-box-shadow: $xOffset $yOffset $blur $spread $color #{$type};
  box-shadow: $xOffset $yOffset $blur $spread $color #{$type};
}