<h2>TIME INPUT</h2>
<mat-form-field class="autoWidth">
    <mat-icon matSuffix>alarm</mat-icon>
    <xmat-time name="ubiTimeInputTest"
               placeholder="hh:mm"
               [(ngModel)]="testTimeModel"
               [disabled]="isUbiTimeInputDisabled"
               [required]="isUbiTimeInputRequired"></xmat-time>
</mat-form-field>
<hr />
<h2>Form Group</h2>
<div [formGroup]="testFormGroup" class="xmat-test-form-group">
    <mat-form-field class="xmat-margin-right-2x">
        <mat-label>Some</mat-label>
        <input matInput type="text" formControlName="foo" />
    </mat-form-field>
    <mat-form-field class="autoWidth">
        <mat-label>HH:MM</mat-label>
        <mat-icon matSuffix>alarm</mat-icon>
        <xmat-time name="ubiTimeInputTest"
                   formControlName="xmatTime"></xmat-time>
    </mat-form-field>
    <h2>GROUP VALID? {{testFormGroup.valid ? "YES" : "NO"}}</h2>
    <h2>TIME VALUE: {{xmatTimeCtrl.value | json}} ({{xmatTimeCtrl.valid ? "VALID" : "INVALID"}})</h2>
</div>
<div>
    <button mat-raised-button
            (click)="xmatTimeCtrl.disabled ? xmatTimeCtrl.enable() : xmatTimeCtrl.disable()"
            color="primary">Toggle disable
    </button>
    <span>&nbsp;</span>
    <button mat-raised-button
            (click)="updateXmatTimeCtrlValidators()"
            color="primary">Toggle required
    </button>
</div>
<hr />

<h2>DATEPICKER</h2>

<mat-form-field>
    <input matInput [matDatepicker]="rhMinPicker"
           #rhMinDate="ngModel"
           [(ngModel)]="dpModel"
           [min]="minDate"
           [max]="maxDate"
           name="rh_filter_date"
           required
           placeholder="Data richiesta da">
    <mat-datepicker-toggle matSuffix [for]="rhMinPicker"></mat-datepicker-toggle>
    <mat-datepicker #rhMinPicker></mat-datepicker>
    <mat-error *ngIf="rhMinDate.hasError('required')">
        Campo obbligatorio
    </mat-error>
    <mat-error *ngIf="rhMinDate.hasError('matDatepickerParse')">
        Il formato della data non è corretto
    </mat-error>
    <mat-error *ngIf="rhMinDate.hasError('matDatepickerMin')">
        La minima data consentita è {{minDate | date:'dd/MM/yyyy'}}
    </mat-error>
    <mat-error *ngIf="rhMinDate.hasError('matDatepickerMax')">
        La massima data consentita è {{maxDate | date:'dd/MM/yyyy'}}
    </mat-error>
</mat-form-field>

<hr />
<xmat-legend-item-content #myTest1>
    XMAT LEGEND CONTENT 1
    <button (click)="alert('Hello')">HELLO</button>
</xmat-legend-item-content>
<xmat-legend-item-content #myTest2>
    <strong>XMAT LC2</strong>
</xmat-legend-item-content>
<xmat-legend-item-content #myTest3>
    XMAT LEGEND CONTENT ICNOMPLETE
    <button (click)="alert('Goodbye')">GOODBYE</button>
</xmat-legend-item-content>


<xmat-legend [items]="myTestList" layout="grid"></xmat-legend>

<xmat-legend [items]="myTestListB" layout="grid" columns="4" fillColumns="true"></xmat-legend>

<!--<div style="height: 100px; background: #e2e2e2">-->
<!--<button (click)="actionDisabled = !actionDisabled">-->
<!--ACTION TOGGLE DISABLED-->
<!--</button>-->
<!--<p>DISABLED = {{actionDisabled ? "true":"false"}}</p>-->
<!--<span xmatActionText color="primary"-->
<!--[disabled]="actionDisabled"-->
<!--(click)="showSnackBar($event)">SHOW SNACKBAR</span>-->
<!--</div>-->

