<h1>REST UTILS</h1>
<div>
    <button mat-raised-button
            class="xmat-d-inline-block xmat-margin-right-2x"
            color="primary"
            [disabled]="statusA === states.RUNNING"
            (click)="reloadA()">RELOAD Call A
    </button>
    <button mat-raised-button
            class="xmat-d-inline-block xmat-margin-right-2x"
            color="primary"
            (click)="doQueue()">TRY $q (view in console)
    </button>
    <button mat-raised-button
            class="xmat-d-inline-block xmat-margin-right-2x"
            color="primary"
            (click)="doPatch()">TRY PATCH
    </button>
    <br />
    <p><strong>call A state:</strong> {{statusA}}</p>
    <ng-container *ngIf="!!dataA">
        <h2>Call A response</h2>
        <ngx-json-view [data]="dataA"></ngx-json-view>
    </ng-container>

    <ng-container *ngIf="!!patchData">
        <h2>PATCH response</h2>
        <ngx-json-view [data]="patchData"></ngx-json-view>
    </ng-container>

    <!--<hr />-->
    <!--<p><strong>call B:</strong> {{statusB}}, data: {{(dataB | json) || "empty"}}</p>-->
    <!--<hr />-->
    <!--<p><strong>call C:</strong> {{statusC}}, data: {{(dataC | json) || "empty"}}</p>-->
</div>
<hr />
<div>
    <p *ngIf="timeA">got call A response after <strong>{{timeA}}</strong> ms. Pre delay was
        <strong>{{preDelay}}</strong>, post delay was
        <strong>{{postDelay}}</strong></p>
</div>
